/* COPIED AND PASTED CSS FROM S3_PREV_US_1 */
.App {
    text-align: center;
    /* display: center; */
    min-height: 100vh;
    /* align-items: center; */
    /* justify-content: center; */
    background-color: #edeceb;
}

.auth-form-container, .login-form, .register-form {
    display:flex;
    flex-direction: column;
}

@media screen and (min-width: 600px) {
    .auth-form-container {
        padding: 5rem;
        border: 1px solid white;
        border-radius: 10px;
        margin: 0.5rem;
    }
}

label {
    text-align: left;
    padding: 0.25rem 0;
}

input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}

button {
    border: none;
    background-color: #dad873;
    color: #060000;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.link-btn {
    background: none;
    color: black;
    text-decoration: underline;
}

.create-account-with-google-btn {
    transition: background-color .3s, box-shadow .3s;

    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);

    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;

    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;

    &:hover {
        box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    }

    &:active {
        background-color: #eeeeee;
    }

    &:focus {
        outline: none;
        box-shadow:
                0 -1px 0 rgba(0, 0, 0, .04),
                0 2px 4px rgba(0, 0, 0, .25),
                0 0 0 3px #c8dafc;
    }

    &:disabled {
        filter: grayscale(100%);
        background-color: #ebebeb;
        box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
        cursor: not-allowed;
    }
}

.sign-in-with-google-btn {
    transition: background-color .3s, box-shadow .3s;

    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);

    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;

    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;

    &:hover {
        box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    }

    &:active {
        background-color: #eeeeee;
    }

    &:focus {
        outline: none;
        box-shadow:
                0 -1px 0 rgba(0, 0, 0, .04),
                0 2px 4px rgba(0, 0, 0, .25),
                0 0 0 3px #c8dafc;
    }

    &:disabled {
        filter: grayscale(100%);
        background-color: #ebebeb;
        box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
        cursor: not-allowed;
    }
}

.google-sign-in-2-btn {
    transition: background-color .3s, box-shadow .3s;

    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);

    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;

    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;

    &:hover {
        box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    }

    &:active {
        background-color: #eeeeee;
    }

    &:focus {
        outline: none;
        box-shadow:
                0 -1px 0 rgba(0, 0, 0, .04),
                0 2px 4px rgba(0, 0, 0, .25),
                0 0 0 3px #c8dafc;
    }

    &:disabled {
        filter: grayscale(100%);
        background-color: #ebebeb;
        box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
        cursor: not-allowed;
    }
}


/* integrate home and integrated pages w/in from rosie */
/* STANDARD PAGE FORMATTING ----------------------------------------------------------------------*/
/* all page settings */
body {
    font-family: 'Josefin Sans';
    margin: 0;
    padding: 0;
    background-color: #edeceb;
}

/* title page headings */
h2 {
    color: #333;
    font-family: 'Archivo Narrow', sans-serif;
    font-style: normal;
    font-weight: 300;
    left: 50%;
    text-align: center;
}

/* nav bar formatting */
.nav {
    background-color: #21234d;
    padding: 13px;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin-left: 20px;
}

.nav-button {
    background-color: #dad873;
    color: #060000;
    padding: 7px 13px;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 200;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 50px;
}

/* navy dotted frame */
.box {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    height: 2000px;
    border: 5px dotted #21234d;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* BB logo formatting */
.box img {
    margin-top: 1.5%;
    max-width: 19%;
    max-height: 19%;
}

/* MONTHLY GOAL SETTING PAGE FORMATTING ---------------------------------------------------------*/
/* headings for first subcsection in the form */
h3 {
    color: #333;
    font-family: 'Archivo Narrow', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    left: 50%;
    text-align: left;
    margin-top: 50px;
    margin-left: 200px;
}

/* headings for later subsections in the form */
h4 {
    color: #333;
    font-family: 'Archivo Narrow', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    left: 50%;
    text-align: left;
    margin-top: 15px;
    margin-left: 200px;
}

/* monthly budget input field formatting */
.user-input-field {
    width: 500px;
    padding: 10px;
    margin-top: -5px;
    margin-left: -560px;
    margin-right: 200px;
    margin-bottom: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

/* error message formatting */
.input-container {
    position: relative;
}

/* style the error message for invalid budget */
.error-message {
    color: red;
    font-size: 14px;
    font-family: 'Archivo Narrow', sans-serif;
    position: absolute;
    bottom: 5px;
    left: 200px;
}

/* style the error message for color coding */
.error-message4 {
    color: red;
    font-size: 14px;
    font-family: 'Archivo Narrow', sans-serif;
    align-content: center;
    /*bottom: 5px;*/
    /*left: 200px;*/
}

/* style the error message for duplicate category (modify) */
.error-message5 {
    color: red;
    font-size: 14px;
    font-family: 'Archivo Narrow', sans-serif;
    position: absolute;
    bottom: 30px;
    left: 660px;
}

.error-message6 {
    color: red;
    font-size: 14px;
    font-weight: 100;
    font-family: 'Archivo Narrow', sans-serif;
    position: absolute;
    bottom: 1px;
    left: 200px;
}

/* category buttons styling */
.category-button {
    background-color: #ccc; /* Default button color */
    border: none;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 1px 15px;
    cursor: pointer;
}

/* selected category buttons styling */
.category-button.selected {
    background-color: #dad873;
    color: #000000;
}

.category-buttons {
    margin-left: -200px;
    margin-bottom: 50px;
}

/* formatting for create category header and plus button in the same line */
.add-user-input {
    display: flex;
    align-items: center;
}

/* plus button to create category button styling */
.plus-button {
    background-color: #21234d;
    color: #ffffff;
    border: none;
    padding: 3px 4px;
    border: none;
    border-radius: 5px;
    margin-top: -12px;
    margin-left: 12px;
    cursor: pointer;
}

/* created category buttons styling */
.created-category {
    background-color: #dad873;
    border: none;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 1px 15px;
    cursor: pointer;
}

/* formatting for create category field and add button in the same line */
.add-field {
    display: flex;
    align-items: center;
}

/* formatting for field for creating categories */
.category-field {
    width: 500px;
    padding: 10px;
    margin-top: -11px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

/* formatting for field for creating categories */
.add-button {
    background-color: #21234d;
    color: #ffffff;
    border: none;
    padding: 5px 8px;
    border: none;
    border-radius: 5px;
    margin-bottom: 60px;
    margin-left: -175px;
    cursor: pointer;
}

/* submit button formatting */
.submit-button {
    background-color: #21234d;
    color: #ffffff;
    padding: 7px 13px;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 200;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    bottom: 40px;
    right: 7%;
    display: flex;
}

.submit-button:hover {
    background-color: #3e3f56;
}

/* edit button for category modification */
.edit-button {
    background-color: #21234d;
    color: white;
    padding: 5px 8px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease; /* Smooth transition effect */
}

/* dropdown formatting */
select {
    font-size: 14px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

/* remove bullets in list and add spacing between categories */
ul {
    list-style-type: none;
    align-content: center;
    margin-left: -50px;
}

li {
    margin-bottom: 10px;
}

/* back button styling for color-coding categories */
.back-button {
    background-color: #21234d;
    color: #ffffff;
    padding: 7px 13px;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 200;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    bottom: 40px;
    right: 89%;
    display: flex;
}

h8 {
    color: #333;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 600;
    font-size: 23px;
    margin-left: 675px;
    display: flex;
    margin-top: 30px;
}

h9 {
    color: #333;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 600;
    font-size: 23px;
    margin-left: 690px;
    display: flex;
    margin-top: 40px;
}
/* -----------------------------------------------------------------------*/
/* profile page button */
.nav-settings .settings-button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    position: absolute;
    top: 1%;
    left: 1%;
    margin: 0;
}

.nav-settings .settings-button img {
    width: 47px;
    height: 44px;
}

/* INPUT DAILY SPENDING PAGE --------------------------------------------------------------------*/
/* formatting for field to add purchase item */
.purchase-item {
    width: 500px;
    padding: 10px;
    margin-top: -11px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

/* formatting for field to add purchase amount */
.amount-input {
    width: 100px;
    padding: 10px;
    margin-top: -11px;
    margin-left: 100px;
    margin-right: 500px;
    margin-bottom: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

/* error message for purchase amount */
.error-message2 {
    color: red;
    font-size: 14px;
    font-weight: 100;
    font-family: 'Archivo Narrow', sans-serif;
    position: absolute;
    bottom: 95px;
    left: 552px;
}

/* input daily spending heading (Purchase) */
h5 {
    color: #333;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-left: -445px;
    margin-bottom: 20px;
    margin-top: 10px;
}

/* input daily spending heading (Amount) */
h6 {
    color: #333;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-left: -455px;
    margin-bottom: 20px;
    margin-top: 10px;
}

/* input daily spending heading (Select Category) */
h7 {
    color: #333;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-left: -396px;
    margin-bottom: 20px;
    margin-top: 10px;
}

/* structure for select category section */
.category-container {
    display: flex;
    flex-direction: column;
}

/* dropdown for displaying categories for a user's purchase */
.category-dropdown {
    width: 200px;
    margin-left: -260px;
    margin-top: -10px;
}

/* add button for inputting a purchase */
.add-button2 {
    background-color: #21234d;
    color: #ffffff;
    padding: 10px 13px;
    border-radius: 5px;
    align-content: center;
    margin-top: 75px;
    margin-bottom: 15px;
    cursor: pointer;
}

/* input purchase items alignment */
.input-purchase {
    /* indentation */
    margin-left: 350px;

    /* styling for vertical alignment of fields */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* formatting inside the purchase info buttons */
.span {
    display: block;
    width: 100px;
    padding: 0 8px;
    margin-bottom: 0;
    line-height: 1.4;
    word-break: break-word;
    text-align: center;
}

/* formatting for x buttons to delete purchases */
.remove-purchase-button {
    background-color: #21234d;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
}

/* buttons that display purchase information */
.purchase-info-button {
    margin-top: 25px;
}

/* error message for not filling in all fields for the purchase input */
.error-message3 {
    color: red;
    font-size: 14px;
    font-weight: 100;
    font-family: 'Archivo Narrow', sans-serif;
    position: absolute;
    bottom: -57px;
    left: 756px;
}

/* --------------------Manage Notifications--------------- */
.notification-method-buttons {
    margin-left: -200px;
    margin-bottom: 50px;
}

/* category buttons styling */
.notification-method-button {
    background-color: #ccc; /* Default button color */
    border: none;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 1px 15px;
    cursor: pointer;
}

/* selected category buttons styling */
.notification-method-button.selected {
    background-color: #dad873;
    color: #000000;
}

/* nav drop down bar */
:root {
    --primary-bg: #242526;
    --secondary-bg: #fff;
    --primary-text-color: #555;
    --secondary-text-color: #cecece;
    --border-radius: 8px;
    --speed: 500ms;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--primary-bg);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}

.menu-trigger img{
    position: absolute;
    top: 5px;
    right: 20px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    background-color: #21234d;
}

.dropdown-menu{
    position: absolute;
    top: 100px;
    right: 20px;
    background-color: #fff;
    border-radius: var(--border-radius);
    padding: 10px 20px;
    width: 200px;
}

.dropdown-menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    background: var(--secondary-bg);
    transform: rotate(45deg);
}

.dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
}

.dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
}

.dropdown-menu ul li{
    padding: 10px  0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.dropdown-menu ul li:hover a{
    color: rgb(212, 33, 9);
    cursor: pointer;
}

.dropdown-menu ul li:hover img{
    opacity: 1;
    cursor: pointer;
}

.dropdownItem{
    display: block;
    margin: 10px auto;
}

.dropdownItem img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: var(--speed);
}

.dropdownItem a{
    max-width: 100px;
    margin-left: 10px;
    transition: var(--speed);
}


button_dropdown {
    border: none;
    background-color: #fff;
    color: #060000;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}
/* -------------------------------- PROFILE PAGE -------------------------------------*/
/* error message for the age field when editing */
.error-message9 {
    color: red;
    font-size: 14px;
    font-weight: 100;
    font-family: 'Archivo Narrow', sans-serif;
    position: absolute;
    bottom: 220px;
    left: 520px;
}

/* error message for the phone field when editing */
.error-message10 {
    color: red;
    font-size: 14px;
    font-weight: 100;
    font-family: 'Archivo Narrow', sans-serif;
    position: absolute;
    bottom: 135px;
    left: 560px;
}