/* STANDARD PAGE FORMATTING ----------------------------------------------------------------------*/
/* all page settings */
body {
  font-family: 'Josefin Sans';
  margin: 0;
  padding: 0;
  background-color: #edeceb;
}

/* title page headings */
h2 {
  color: #333;
  font-family: 'Archivo Narrow', sans-serif;
  font-style: normal;
  font-weight: 300;
  left: 50%;
  text-align: center;
}

/* nav bar formatting */
nav {
  background-color: #21234d;
  padding: 13px;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

nav ul li {
  margin-left: 20px;
}

.nav-button {
  background-color: #dad873;
  color: #060000;
  padding: 7px 13px;
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 200;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 50px;
}

/* navy dotted frame */
.box {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  width: 95.5%;
  height: 1000px;
  border: 5px dotted #21234d;
  border-radius: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* BB logo formatting */
.box img {
  margin-top: 1.5%;
  max-width: 19%;
  max-height: 19%;
}

/* MONTHLY GOAL SETTING PAGE FORMATTING ---------------------------------------------------------*/
/* headings for first subcsection in the form */
h3 {
  color: #333;
  font-family: 'Archivo Narrow', sans-serif;
  font-style: normal; 
  font-weight: 600;
  font-size: 23px;
  left: 50%;
  text-align: left;
  margin-top: 50px;
  margin-left: -150px;
}

/* headings for later subsections in the form */
h4 {
  color: #333;
  font-family: 'Archivo Narrow', sans-serif;
  font-style: normal; 
  font-weight: 600;
  font-size: 23px;
  left: 50%;
  text-align: left;
  margin-top: 15px;
  margin-left: -150px;
}

/* monthly budget input field formatting */
.user-input-field { 
  width: 500px;
  padding: 10px;
  margin-top: -5px;
  margin-left: -152px;
  margin-right: 200px;
  margin-bottom: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

/* error message formatting */
.input-container {
  position: relative;
}

/* style the error message */
.error-message {
  color: red;
  font-size: 14px;
  font-weight: 100px;
  font-family: 'Archivo Narrow', sans-serif;
  position: absolute;
  bottom: 5px; 
  left: -150px;
}

/* category buttons styling */
.category-button {
  background-color: #ccc; /* Default button color */
  border: none;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 1px 15px;
  cursor: pointer;
}

/* selected category buttons styling */
.category-button.selected {
  background-color: #dad873; 
  color: #000000; 
}

.category-buttons {
  margin-left: -166px; 
  margin-bottom: 50px;
}

/* formatting for create category header and plus button in the same line */
.create-category {
  display: flex;
  align-items: center;
}

/* plus button to create category button styling */
.plus-button {
  background-color: #21234d;
  color: #ffffff;
  border: none;
  padding: 3px 4px;
  border: none;
  border-radius: 5px;
  margin-top: -12px;
  margin-left: 12px;
  cursor: pointer;
}

/* created category buttons styling */
.created-category {
  background-color: #dad873;
  border: none;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 1px 15px;
  cursor: pointer;
}

/* formatting for create category field and add button in the same line */
.add-field {
  display: flex;
  align-items: center;
}

/* formatting for field for creating categories */
.category-field {
  width: 500px;
  padding: 10px;
  margin-top: -11px;
  margin-left: -152px;
  margin-right: 200px;
  margin-bottom: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

/* formatting for field for creating categories */
.add-button {
  background-color: #21234d;
  color: #ffffff;
  border: none;
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
  margin-bottom: 60px;
  margin-left: -175px;
  cursor: pointer;
}

/* submit button formatting */
.next-button {
  background-color: #21234d;
  color: #ffffff;
  padding: 7px 13px;
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 200;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  bottom: 40px;
  right: 7%;
  display: flex;
}

.submit-button:hover {
  background-color: #3e3f56;
}

/* user categories formatting */
.button {
  background-color: var(--button-bg-color);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition effect */
}

/* dropdown formatting */
select {
  font-size: 14px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
}

/* remove bullets in list and add spacing between categories */
ul {
  list-style-type: none; 
  margin-left: -205px;
}

li {
  margin-bottom: 10px;
}

/* back button styling for color-coding categories */
.back-button {
  background-color: #21234d;
  color: #ffffff;
  padding: 7px 13px;
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 200;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  bottom: 40px;
  right: 89%;
  display: flex;
}

