/* STANDARD PAGE FORMATTING -----------------------------------------*/
/* all page settings */
body {
  font-family: 'Josefin Sans';
  margin: 0;
  padding: 0;
  background-color: #edeceb;
}

/* title page headings */
h2 {
  color: #333;
  font-family: 'Archivo Narrow', sans-serif;
  font-style: normal;
  font-weight: 300;
  left: 50%;
  text-align: center;
}

/* nav bar formatting */
nav {
  background-color: #21234d;
  padding: 13px;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

nav ul li {
  margin-left: 20px;
}

.nav-button {
  background-color: #dad873;
  color: #060000;
  padding: 7px 13px;
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 200;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 50px;
}

/* settings icon and dropdown */
.nav-settings .settings-button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  position: absolute; 
  top: 1%; 
  left: 1%;
  margin: 0; 
}

.nav-settings .settings-button img {
  width: 47px; 
  height: 44px;
}

/* navy dotted frame */
.box {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  width: 95.5%;
  height: 1000px;
  border: 5px dotted #21234d;
  border-radius: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* BB logo formatting */
.box img {
  margin-top: 1.5%;
  max-width: 19%;
  max-height: 19%;
}

/* MONTHLY GOAL SETTING PAGE FORMATTING --------------------------------*/
/* possible form container */
/* .form-container {
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

/* headings for each subcsection in the form */
h3 {
  color: #333;
  font-family: 'Archivo Narrow', sans-serif;
  font-style: normal; 
  font-weight: 600;
  font-size: 23px;
  left: 50%;
  text-align: left;
  margin-top: 50px;
  margin-left: -150px;
}

/* monthly budget input field formatting */
input[type="text"] { /* change classname so this can be applicable for other things */
  width: 100%;
  padding: 10px;
  margin-top: -5px;
  margin-left: -152px;
  margin-right: 200px;
  margin-bottom: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

/* submit button formatting */
.submit-button {
  background-color: #21234d;
  color: #ffffff;
  padding: 7px 13px;
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 200;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  bottom: 40px;
  right: 7%;
  display: flex;
}

.submit-button:hover {
  background-color: #3e3f56;
}

/* PROFILE PAGE --------------------------------*/
/* first header formatting */
h4 {
  color: #333;
  font-family: 'Archivo Narrow', sans-serif;
  font-style: normal; 
  font-weight: 600;
  font-size: 18px;
  top: 20%;
  left: 50%;
  text-align: left;
  margin-top: 50px;
  margin-left: -150px;
}

/* later headers formatting */
h5 {
  color: #333;
  font-family: 'Archivo Narrow', sans-serif;
  font-style: normal; 
  font-weight: 600;
  font-size: 18px;
  top: 20%;
  left: 50%;
  text-align: left;
  margin-top: -20px;
  margin-left: -150px;
}

/* edit fields formatting */
.prepopulated-field {
  width: 100%;
  padding: 10px;
  margin-top: -100px;
  margin-left: -152px;
  margin-right: 200px;
  margin-bottom: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

/* edit button formatting */
.edit-button {
  background-color: #21234d;
  color: #ffffff;
  border: none;
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
  margin-bottom: 60px;
  margin-left: 0px;
  cursor: pointer;
}

/* prepopulated info formatting */
h6 {
  color: #333;
  font-family: 'Archivo Narrow', sans-serif;
  font-style: normal; 
  font-weight: 200;
  font-size: 18px;
  top: 20%;
  left: 50%;
  text-align: left;
  margin-top: -20px;
  margin-left: -150px;
}
