/* all page settings */
body {
  font-family: 'Josefin Sans';
  margin: 0;
  padding: 0;
  background-color: #edeceb;
}

/* title page headings */
h2 {
  color: #333;
  font-family: 'Archivo Narrow', sans-serif;
  font-style: normal;
  font-weight: 300;
  left: 50%;
  text-align: center;
}

/* nav bar formatting */
nav {
  background-color: #21234d;
  padding: 13px;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Center the buttons horizontally within the nav bar */
  align-items: center; /* Optional: To vertically center the buttons */
}

nav ul li {
  margin-left: 20px;
}

.nav-button {
  background-color: #dad873;
  color: #060000;
  padding: 7px 13px;
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 200;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 50px;
}

/* navy dotted frame */
.box {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  width: 95.5%;
  height: 1000px;
  border: 5px dotted #21234d;
  border-radius: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box img {
  margin-top: 1.5%;
  max-width: 19%;
  max-height: 19%;
}